.body{
    margin:0;
    padding:0;
    overflow: hidden;
    height:100vh;
}
@media screen and (max-width:400px){
    .logform{
    position:absolute;
    top:50%;
    left:50%;   
    width:100%; 
    background:black;
    transform: translate(-50%,-50%);  
    border-radius: 10px; 
}
input[type="submit"]{
        
    width:80%;
    
    border:1px solid;
    background: #2691d9;
    border-radius: 25px;
    font-size: 20px;
    color:#e9f4fb;
    font-weight: 700;
    cursor:pointer;
    outline:none;
}
}

.logform{
    position:absolute;
    top:50%;
    left:50%;   
    width:50%; 
    background:black;
    transform: translate(-50%,-50%);  
    border-radius: 10px; }

.logform h1{
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid silver;
    color:white;
}

.logform form{
    padding: 0 40px;
    box-sizing: border-box;
}
form .txt{
    position:relative;
    border-bottom: 1px solid #adadad;
    margin:30px 0;
}
.txt input{
    color:white;
    width:100%;
    padding:0 5px;
    height:40px;
    font-size: 22px;
    border:none;
    background:none;
    outline:none;   
}
.txt label{
    position:absolute;
    top:50%;
    left:5px;

    color:#adadad;
    transform:translateY(-50%);
    font-size:22px;
    pointer-events:none;
}
.txt span::before{
    content:'';
    position:absolute;
    top:40px;
    left:0;
    width:0%;
    height:2px;
    background:#2691d9;
    transition:.5s;
}
.txt input:focus ~ label,
.txt input:valid ~ label{
    top:-5px;
    color:#2691d9;
}
.txt input:focus ~ span::before,
.txt input:valid ~ span::before{
    width:100%;}
.fp{
        margin:-5px 0 30px 5px;
        color:#a6a6a6;
        cursor:pointer;
    }
    .fp:hover{
        text-decoration: underline;
    }
    input[type="submit"]{
        
        width:40%;
        
        border:1px solid;
        background: #2691d9;
        border-radius: 25px;
        font-size: 24px;
        color:#e9f4fb;
        font-weight: 700;
        cursor:pointer;
        outline:none;
    }
    input[type="submit"]:hover{
        border-color:#2691d9;
        transition:.5s;
    }
    .noac{
        margin:30px 0;
        text-align:center;
        font-size:16px;
        color:#666666;
    }